
.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}

.todo-item {
  background-color: #61dafb;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75%;
  border-radius: 5px;
  color: #606060;
}

.completed {
  text-decoration: line-through;
}

.with-edit:hover {
  cursor: pointer;
}

